In [1]:
import pandas as pd
import pickle 

import pandas as pd
import statistics as myStats
import glob
import numpy as np
import seaborn as sb
from matplotlib import pyplot as plt

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Revome scientific notation to expand numbers in the dataset up to the
# second decimal place.
pd.set_option('display.float_format', lambda x: '%.4f' % x)
#pd.set_option('display.float_format', lambda x: '%,g' % x)

data=pd.read_pickle('all_years.pkl')

In [2]:
data['Sale_Date'] = pd.to_datetime(data['Sale_Date'],)

data = data.sort_values(by="Sale_Date")
#data

In [3]:
yearDataFile = pd.DataFrame(data=data)
yearDataFile['UniSA_Customer_No'] = ['%.12g' % n for n in yearDataFile['UniSA_Customer_No']]
del yearDataFile['Barcode_Item']
del yearDataFile['Receipt_Line_No']
del yearDataFile['Total_Sale_Amount_InclusiveGST']
del yearDataFile['Item_Description']
del yearDataFile['Department_Name']
del yearDataFile['Commodity_Name']
del yearDataFile['Total_Receipt_Lines']
del yearDataFile['Quantity_Sold']
del yearDataFile['Offer']
yearDataFile

          Sale_Date Sale_Time  UniSA_Receipt_No1 UniSA_Customer_No  Item_Value
100075   2013-01-02     15:14             525539        2690797360      9.9900
100701   2013-01-02     15:23             525542        4498461089      5.4900
100702   2013-01-02     15:23             525542        4498461089      5.4900
100703   2013-01-02     15:23             525542        4498461089      2.0200
100704   2013-01-02     15:23             525542        4498461089      3.1900
...             ...       ...                ...               ...         ...
12186915 2015-12-31  09:45:46     15123111044042        9413990620      1.5700
12186914 2015-12-31  09:45:46     15123111044042        9413990620      1.4900
12186913 2015-12-31  09:45:46     15123111044042        9413990620      1.4200
12186887 2015-12-31  09:40:48     15123111044041        8548751290      1.4900
12201505 2015-12-31  11:30:48     15123126042876        7368908389     20.4000

[37371576 rows x 5 columns]

In [4]:
# Create a "TimeStamp" variable.

pd.options.mode.chained_assignment = None  # default='warn'

yearDataFile['Sale_Date'].astype(str)
yearDataFile["Sale_Time"][yearDataFile["Sale_Time"] == 'nan'] = "00:00:00"

In [5]:
yearDataFile['Sale_Time'] = yearDataFile['Sale_Time'].astype(str)
yearDataFile['Sale_Time_Length'] = yearDataFile['Sale_Time'].astype(str).map(len)

In [6]:
pd.options.mode.chained_assignment = None  # default='warn'
Seconds = ':00'
yearDataFile["Sale_Time"][yearDataFile["Sale_Time_Length"] == 5] = yearDataFile["Sale_Time"] + Seconds

In [7]:
#Creating a new variable "Time Stamp"

yearDataFile['Sale_Date'] = yearDataFile['Sale_Date'].astype(str)
yearDataFile['TimeStamp'] = yearDataFile["Sale_Date"] + " " + yearDataFile["Sale_Time"]
#yearDataFile

In [8]:
# Generating a "Key" to find number of trips.

yearDataFile['UniSA_Receipt_No1'] = yearDataFile['UniSA_Receipt_No1'].astype(str)
yearDataFile['Key'] = yearDataFile['UniSA_Receipt_No1'] + yearDataFile['TimeStamp']
yearDataFile.drop('Sale_Time_Length', axis=1, inplace=True)
yearDataFile.drop('TimeStamp', axis=1, inplace=True)
#yearDataFile

In [10]:
# Download the file 

#yearDataFile.to_pickle("Modified_Data.pkl")

#df=pd.read_pickle('Modified_data.pkl')

In [11]:
# Convert the 'Sale_Date' to date-time format from string.

yearDataFile['Sale_Date'] = pd.to_datetime(yearDataFile['Sale_Date'],)

In [13]:
# Transform the "Sale Date" column into three different columns, one each for "Sale Day", "Sale Month" and "Sale Year".

yearDataFile['Year'] = pd.DatetimeIndex(yearDataFile['Sale_Date']).year

In [15]:
# Finding week number.

yearDataFile['Week'] = yearDataFile['Sale_Date'].dt.week
yearDataFile

,Sale_Date,Sale_Time,UniSA_Receipt_No1,UniSA_Customer_No,Item_Value,Key,Year,Week
100075,2013-01-02,15:14:00,525539,2690797360,9.9900,5255392013-01-02 15:14:00,2013,1
100701,2013-01-02,15:23:00,525542,4498461089,5.4900,5255422013-01-02 15:23:00,2013,1
100702,2013-01-02,15:23:00,525542,4498461089,5.4900,5255422013-01-02 15:23:00,2013,1
100703,2013-01-02,15:23:00,525542,4498461089,2.0200,5255422013-01-02 15:23:00,2013,1
100704,2013-01-02,15:23:00,525542,4498461089,3.1900,5255422013-01-02 15:23:00,2013,1
...,...,...,...,...,...,...,...,...
12186915,2015-12-31,09:45:46,15123111044042,9413990620,1.5700,151231110440422015-12-31 09:45:46,2015,53
12186914,2015-12-31,09:45:46,15123111044042,9413990620,1.4900,151231110440422015-12-31 09:45:46,2015,53
12186913,2015-12-31,09:45:46,15123111044042,9413990620,1.4200,151231110440422015-12-31 09:45:46,2015,53
12186887,2015-12-31,09:40:48,15123111044041,8548751290,1.4900,151231110440412015-12-31 09:40:48,2015,53
12201505,2015-12-31,11:30:48,15123126042876,7368908389,20.4000,151231260428762015-12-31 11:30:48,2015,53

In [26]:
# Split data by years

df2013 = yearDataFile[yearDataFile['Year'] == 2013]
df2014 = yearDataFile[yearDataFile['Year'] == 2014]
df2015 = yearDataFile[yearDataFile['Year'] == 2015]
#df2015

,Sale_Date,Sale_Time,UniSA_Receipt_No1,UniSA_Customer_No,Item_Value,Key,Year,Week
45607,2015-01-02,16:03:18,44568,5291390841,3.9800,445682015-01-02 16:03:18,2015,1
45610,2015-01-02,16:05:05,44569,6078351501,3.2900,445692015-01-02 16:05:05,2015,1
45609,2015-01-02,16:05:05,44569,6078351501,7.2900,445692015-01-02 16:05:05,2015,1
45608,2015-01-02,16:05:05,44569,6078351501,2.4900,445692015-01-02 16:05:05,2015,1
45632,2015-01-02,16:05:05,44569,6078351501,2.3100,445692015-01-02 16:05:05,2015,1
...,...,...,...,...,...,...,...,...
12186915,2015-12-31,09:45:46,15123111044042,9413990620,1.5700,151231110440422015-12-31 09:45:46,2015,53
12186914,2015-12-31,09:45:46,15123111044042,9413990620,1.4900,151231110440422015-12-31 09:45:46,2015,53
12186913,2015-12-31,09:45:46,15123111044042,9413990620,1.4200,151231110440422015-12-31 09:45:46,2015,53
12186887,2015-12-31,09:40:48,15123111044041,8548751290,1.4900,151231110440412015-12-31 09:40:48,2015,53
12201505,2015-12-31,11:30:48,15123126042876,7368908389,20.4000,151231260428762015-12-31 11:30:48,2015,53

In [19]:
# First aggregate the 2013 data by week.


aggregations1 = {
   "Item_Value": "sum",
   "Key": pd.Series.nunique
}

GroupWeek2013 = df2013.groupby(by = ["Week"], as_index = False).agg(aggregations1).rename(columns = {"Item_Value": "Weekly_Total_Sales", "Key": "Weekly_Total_Trips"})
GroupWeek2013

    Week  Weekly_Total_Sales  Weekly_Total_Trips
0      1        1069091.6600               19645
1      2         920332.1500               18371
2      3         940726.4600               18176
3      4         978813.5100               18724
4      5         942373.0400               17818
5      6         960418.2900               18757
6      7        1029110.6800               19997
7      8         929383.9400               18839
8      9         952839.5600               18699
9     10        1022479.1200               20273
10    11         934032.0200               18110
11    12         978937.2500               19057
12    13        1086581.9700               18669
13    14         906301.6200               18126
14    15         958453.5500               19100
15    16         944029.2200               18893
16    17         919472.8500               17325
17    18         928490.7300               18299
18    19         940516.8600               18814
19    20         942458.7300               18642
20    21         889981.6900               17836
21    22         907767.6900               17874
22    23         955925.2200               18986
23    24         895524.3500               17179
24    25         925323.2900               17996
25    26         898639.2800               17789
26    27         903421.8600               17694
27    28         872565.6400               17380
28    29         942990.8800               18112
29    30         914369.5500               17741
30    31         928855.7500               17922
31    32         912559.1900               17794
32    33         986452.4700               18924
33    34         908734.1900               17747
34    35         926618.7100               18243
35    36         930548.6700               18338
36    37         940929.6000               17994
37    38         958098.3600               18847
38    39         940019.0900               18464
39    40         983248.6200               18569
40    41         919755.8700               17230
41    42         964519.1000               18452
42    43         937228.1500               18229
43    44         946756.0000               18382
44    45         958661.4100               18354
45    46        1029127.3800               20016
46    47         957218.2700               18074
47    48        1002115.2000               18725
48    49         990809.9900               18452
49    50        1088121.8967               20189
50    51        1242001.2371               20542
51    52         985725.4800               16475

In [30]:
# First aggregate the 2014 data by week.


aggregations2 = {
   "Item_Value": "sum",
   "Key": pd.Series.nunique
}

GroupWeek2014 = df2014.groupby(by = ["Week"], as_index = False).agg(aggregations2).rename(columns = {"Item_Value": "Weekly_Total_Sales", "Key": "Weekly_Total_Trips"})
GroupWeek2014

    Week  Weekly_Total_Sales  Weekly_Total_Trips
0      1        1086751.4700               19132
1      2         965710.1200               18223
2      3         968321.2200               18176
3      4        1030003.0700               18632
4      5        1008106.6700               18105
5      6        1016374.0800               18635
6      7        1018504.2300               18665
7      8         994294.4900               18466
8      9        1002250.1800               18578
9     10        1054961.6258               19555
10    11         985772.2900               17701
11    12         993592.4258               18182
12    13        1012555.6950               18585
13    14         995554.6700               18713
14    15        1009466.4900               18810
15    16        1139882.5300               18610
16    17         920284.4800               16488
17    18         981165.6500               18482
18    19         964671.9300               18595
19    20         977061.0400               18296
20    21         953561.0100               18147
21    22         946173.6333               17813
22    23         994740.8600               18547
23    24         930997.0300               17057
24    25         945062.9200               17624
25    26         946914.9766               17495
26    27         928005.3133               17362
27    28         918837.7700               17464
28    29         968207.8500               17025
29    30         983252.0900               17905
30    31         973603.8900               17392
31    32         954901.5400               17319
32    33         961249.2200               17548
33    34         990113.6600               18248
34    35         968148.7800               17795
35    36         992535.1228               18218
36    37         970824.1992               18217
37    38         957213.6264               17770
38    39         996603.4342               18374
39    40        1026781.7223               18679
40    41         965707.2799               17000
41    42        1012690.7519               18291
42    43        1036685.0477               18870
43    44        1055996.2578               18858
44    45        1026862.3400               18086
45    46        1047844.5400               18203
46    47        1033436.4500               18707
47    48        1071645.1500               19047
48    49        1086612.3300               19057
49    50        1047981.4100               18678
50    51        1188748.8000               19934
51    52        1098747.9700               17103

In [36]:
# First aggregate the 2015 data by week.


aggregations3 = {
   "Item_Value": "sum",
   "Key": pd.Series.nunique
}

GroupWeek2015 = df2015.groupby(by = ["Week"], as_index = False).agg(aggregations3).rename(columns = {"Item_Value": "Weekly_Total_Sales", "Key": "Weekly_Total_Trips"})
GroupWeek2015

    Week  Weekly_Total_Sales  Weekly_Total_Trips
0      1         402118.1600                7120
1      2        1009602.8300               18043
2      3         973376.0700               17522
3      5          94983.6600                1748
4      6         985829.4900               18418
5      7        1084778.6700               18898
6      8        1041714.3100               18783
7      9        1023942.9100               18458
8     10        1064134.7900               19144
9     11        1037017.9200               18354
10    12        1017407.2500               18628
11    13        1110339.7300               19262
12    14        1218440.7200               18795
13    15         984140.3400               18132
14    16         962854.8000               18405
15    17        1016756.8300               18091
16    18        1028231.2600               18263
17    19        1005341.9800               18851
18    20         998341.9200               17929
19    21        1018608.4600               18003
20    22         981490.4200               17803
21    23        1047121.0100               18659
22    24         947688.9600               17105
23    25        1010854.2300               17826
24    26         986872.9400               17969
25    27        1021333.3400               17834
26    28         978906.9100               17634
27    29         994449.6700               17473
28    30        1028433.1600               18347
29    31         998991.0400               17779
30    32        1004069.8300               17903
31    33         991498.8200               17552
32    34        1008013.2000               17966
33    35         997621.0600               18511
34    36         988355.4800               18339
35    37         980468.0600               18051
36    38        1000420.8100               18625
37    39         989681.4600               18322
38    40        1037871.1100               18670
39    41         990892.9700               17614
40    42        1019589.4200               18547
41    43        1031804.7800               18765
42    44        1010399.2800               18611
43    45        1017772.5200               18539
44    46        1028264.0000               18946
45    47        1097708.7800               20914
46    48        1026162.4700               18473
47    49        1099724.4300               19318
48    50        1048967.4600               19078
49    51        1197133.1700               20471
50    52        1216750.0100               18407
51    53         649469.7100               11337

In [32]:
# Assigning the new week values to 2014 data.

GroupWeek2014['Week'] = range(53, 53+len(GroupWeek2014))
GroupWeek2014

    Week  Weekly_Total_Sales  Weekly_Total_Trips
0     53        1086751.4700               19132
1     54         965710.1200               18223
2     55         968321.2200               18176
3     56        1030003.0700               18632
4     57        1008106.6700               18105
5     58        1016374.0800               18635
6     59        1018504.2300               18665
7     60         994294.4900               18466
8     61        1002250.1800               18578
9     62        1054961.6258               19555
10    63         985772.2900               17701
11    64         993592.4258               18182
12    65        1012555.6950               18585
13    66         995554.6700               18713
14    67        1009466.4900               18810
15    68        1139882.5300               18610
16    69         920284.4800               16488
17    70         981165.6500               18482
18    71         964671.9300               18595
19    72         977061.0400               18296
20    73         953561.0100               18147
21    74         946173.6333               17813
22    75         994740.8600               18547
23    76         930997.0300               17057
24    77         945062.9200               17624
25    78         946914.9766               17495
26    79         928005.3133               17362
27    80         918837.7700               17464
28    81         968207.8500               17025
29    82         983252.0900               17905
30    83         973603.8900               17392
31    84         954901.5400               17319
32    85         961249.2200               17548
33    86         990113.6600               18248
34    87         968148.7800               17795
35    88         992535.1228               18218
36    89         970824.1992               18217
37    90         957213.6264               17770
38    91         996603.4342               18374
39    92        1026781.7223               18679
40    93         965707.2799               17000
41    94        1012690.7519               18291
42    95        1036685.0477               18870
43    96        1055996.2578               18858
44    97        1026862.3400               18086
45    98        1047844.5400               18203
46    99        1033436.4500               18707
47   100        1071645.1500               19047
48   101        1086612.3300               19057
49   102        1047981.4100               18678
50   103        1188748.8000               19934
51   104        1098747.9700               17103

In [45]:
# Assigning the new week values to 2015 data.

GW2015_1 = GroupWeek2015.iloc[:3]
GW2015_2 = GroupWeek2015.iloc[3:52]

GW2015_1['Week'] = range(105, 105+len(GW2015_1))
GW2015_2['Week'] = range(109, 109+len(GW2015_2))
GroupWeek2015 = GW2015_1.append(GW2015_2, ignore_index=True)
GroupWeek2015

    Week  Weekly_Total_Sales  Weekly_Total_Trips
0    105         402118.1600                7120
1    106        1009602.8300               18043
2    107         973376.0700               17522
3    109          94983.6600                1748
4    110         985829.4900               18418
5    111        1084778.6700               18898
6    112        1041714.3100               18783
7    113        1023942.9100               18458
8    114        1064134.7900               19144
9    115        1037017.9200               18354
10   116        1017407.2500               18628
11   117        1110339.7300               19262
12   118        1218440.7200               18795
13   119         984140.3400               18132
14   120         962854.8000               18405
15   121        1016756.8300               18091
16   122        1028231.2600               18263
17   123        1005341.9800               18851
18   124         998341.9200               17929
19   125        1018608.4600               18003
20   126         981490.4200               17803
21   127        1047121.0100               18659
22   128         947688.9600               17105
23   129        1010854.2300               17826
24   130         986872.9400               17969
25   131        1021333.3400               17834
26   132         978906.9100               17634
27   133         994449.6700               17473
28   134        1028433.1600               18347
29   135         998991.0400               17779
30   136        1004069.8300               17903
31   137         991498.8200               17552
32   138        1008013.2000               17966
33   139         997621.0600               18511
34   140         988355.4800               18339
35   141         980468.0600               18051
36   142        1000420.8100               18625
37   143         989681.4600               18322
38   144        1037871.1100               18670
39   145         990892.9700               17614
40   146        1019589.4200               18547
41   147        1031804.7800               18765
42   148        1010399.2800               18611
43   149        1017772.5200               18539
44   150        1028264.0000               18946
45   151        1097708.7800               20914
46   152        1026162.4700               18473
47   153        1099724.4300               19318
48   154        1048967.4600               19078
49   155        1197133.1700               20471
50   156        1216750.0100               18407
51   157         649469.7100               11337

In [49]:
# Append all data from 3 years to one. That data will be grouped weekly data.

sample = GroupWeek2013.append(GroupWeek2014, ignore_index=True)
WeeklyTotal = sample.append(GroupWeek2015, ignore_index=True)
WeeklyTotal

     Week  Weekly_Total_Sales  Weekly_Total_Trips
0       1        1069091.6600               19645
1       2         920332.1500               18371
2       3         940726.4600               18176
3       4         978813.5100               18724
4       5         942373.0400               17818
..    ...                 ...                 ...
151   153        1099724.4300               19318
152   154        1048967.4600               19078
153   155        1197133.1700               20471
154   156        1216750.0100               18407
155   157         649469.7100               11337

[156 rows x 3 columns]

In [ ]:
# Calculate statistics of distribution

pd.options.mode.chained_assignment = None  # default='warn'

GroupWeek["Weekly_Total_Sales"] = pd.to_numeric(GroupWeek["Weekly_Total_Sales"]).round(2)

# Mean for the distribution
print("Mean Weekly Total Sales: $" + str(round(myStats.mean(GroupWeek["Weekly_Total_Sales"]), 2)))

# Median for the distribution
print("Median Weekly Total Sales: $" + str(round(myStats.median(GroupWeek["Weekly_Total_Sales"]), 2)))

# Standard Deviation for the distribution
print("Volatility Weekly Total Sales: $" + str(round(myStats.stdev(GroupWeek["Weekly_Total_Sales"]), 2)))

In [ ]:
#Plot weekly sales distribution.

plt.figure(figsize = (12, 8))
sb.histplot(data=GroupWeek, x="Weekly_Total_Sales", bins = 20, kde=True)
plt.axvline(round(GroupWeek["Weekly_Total_Sales"].quantile(.05), 2), color = "red", linestyle = "-.", label = "Value at Risk at 95% confidence level")
plt.axvline(round(GroupWeek["Weekly_Total_Sales"].quantile(.01), 2), color = "orange", linestyle = "-.", label = "Value at Risk at 99% confidence level")
plt.xlabel("Weekly Total Sales (in Dollars)")
plt.ylabel("Probability Density")
plt.title("Distribution of Weekly Total Sales for 2013-2015")
plt.legend()
plt.ticklabel_format(style='plain')
plt.show()

In [ ]:
# Calculating Value at Risk for Weekly Total Sales at 5% and 1% significance level:

print("Value at Risk for Daily Sales at 95% confidence level: $" + str(round(GroupWeek["Weekly_Total_Sales"].quantile(.05), 2)))
print("Value at Risk for Daily Sales at 99% confidence level: $" + str(round(GroupWeek["Weekly_Total_Sales"].quantile(.01), 2)))